<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="C:\Moje pliki\Visual Studio\Average\data"/>
	</appSettings>
	<connectionStrings>
		<add name="Courses" connectionString="Server=.;Database=Courses;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>